@font-face {
	font-family: "CinzeBold";
	src: url("../fonts/CinzelDecorative-Bold.otf");
}

@font-face {
	font-family: "CinzeRegular";
	src: url("../fonts/CinzelDecorative-Regular.otf");
}

@font-face {
	font-family: "hell";
	src: url("../fonts/hell.ttf");
}

@font-face {
	font-family: "hellBQ";
	src: url("../fonts/hellBQ.otf");
}

@font-face {
	font-family: "Muller";
	src: url("../fonts/Muller.otf");
}


