@media only screen and (max-width : 450px) {
	body, html {
		font-size: 70%;
	}
}

@media only screen and (max-height: 570px) {
	#vk {
		bottom: 4%;
	}

	#vk img {
		width: 20px;
		height: 20px;
	}

	#mail
	{
		bottom: 10%; 
	}

	#number
	{
		bottom: 16%;
	}
}

@media only screen and (max-height: 450px) {
	#vk
	{
		bottom: 4%;
	}

	#vk img {
		width: 20px;
		height: 20px;
	}

	#mail {
		bottom: 12%; 
	}

	#number {
		bottom: 21%;
	}
}